<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="bimanual_ros2_control" params="name initial_positions_file use_isaac:=false">
        <xacro:property name="initial_positions" value="${xacro.load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <xacro:if value="${use_isaac}">
                    <plugin>topic_based_ros2_control/TopicBasedSystem</plugin>
                    <param name="joint_commands_topic">/joint_command</param>
                    <param name="joint_states_topic">/joint_states</param>
                </xacro:if>
                <xacro:unless value="${use_isaac}">
                    <plugin>mock_components/GenericSystem</plugin>
                </xacro:unless>
            </hardware>
            <joint name="left_shoulder_pan_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['left_shoulder_pan_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="left_shoulder_lift_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['left_shoulder_lift_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="left_elbow_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['left_elbow_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="left_wrist_1_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['left_wrist_1_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="left_wrist_2_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['left_wrist_2_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="left_wrist_3_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['left_wrist_3_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="right_shoulder_pan_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['right_shoulder_pan_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="right_shoulder_lift_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['right_shoulder_lift_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="right_elbow_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['right_elbow_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="right_wrist_1_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['right_wrist_1_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="right_wrist_2_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['right_wrist_2_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="right_wrist_3_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['right_wrist_3_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="left_robotiq_85_left_knuckle_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['left_robotiq_85_left_knuckle_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>
