<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="bimanual">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />
    <xacro:arg name="use_isaac" default="false" />

    <!-- Import bimanual urdf file -->
    <xacro:include filename="$(find bimanual_description)/urdf/bimanual.urdf.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="bimanual.ros2_control.xacro" />


    <xacro:bimanual_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)" use_isaac="$(arg use_isaac)"/>

</robot>
